.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
