.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.search-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
