.similar-job-card-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  border-radius: 10px;
  background-color: #272727;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  list-style-type: none;
  cursor: pointer;
  outline: none;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .similar-job-card-container {
    width: 49%;
    margin-bottom: 30px;
    padding: 30px;
  }
}

.card-logo-title-container {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.title {
  color: #ffffff;
  font-size: 18px;
  margin-top: 0;
}
.rating-container {
  display: flex;
}
.rating {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}
.star {
  color: #fbbf24;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.similar-location-type-container {
  display: flex;
  align-items: center;
}
.similar-location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.location-logo {
  width: 16px;
  height: 16px;
  color: #ffffff;
  margin-right: 4px;
}
.location {
  color: #ffffff;
  font-size: 16px;
}
.similar-employment-container {
  display: flex;
  align-items: center;
}
.bag {
  width: 16px;
  height: 16px;
  color: #ffffff;
  margin-right: 4px;
}
.type {
  color: #ffffff;
  font-size: 16px;
}

.description-title {
  color: #f1f5f9;
  font-size: 18px;
}
.description {
  color: #f1f5f9;
  font-size: 17px;
}
