.retry-button-job {
  border: none;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 24px;
  border-radius: 5px;
  padding: 6px;
}
.jobs-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .jobs-loader-container {
    width: 70%;
  }
}

.jobs-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .jobs-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }
}

.jobs-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .jobs-failure-img {
    width: 400px;
    height: 350px;
  }
}

.jobs-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-heading-text {
    font-size: 24px;
  }
}

.jobs-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}
